<div class='row mt-5'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body card-form m-auto'>
      <h1 class='text-center mt-3'>登入餐廳清單</h1>
      {{> message}}
      {{! handlebars 看到 > 會去找 partials 檔案 }}
      <form action='/users/login' method='POST'>
        <div class='mb-3'>
          <label for='email' class='mb-2'>電子郵件地址</label>
          <input
            type='email'
            id='email'
            name='email'
            class='form-control'
            placeholder='Enter Email'
          />
        </div>
        <div class='mb-3'>
          <label for='password' class='mb-2'>密碼</label>
          <input
            type='password'
            id='password'
            name='password'
            class='form-control'
            placeholder='Enter Password'
          />
        </div>
        <button type='submit' class='btn btn btn-theme'>登入</button>
      </form>
      <p class='lead mt-4'>
        還沒有帳號嗎?
        <a href='/users/register'>點此註冊</a>
      </p>
    </div>
  </div>
</div>